@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family:"poppins";
}

header{
    background-color: #d9d9d9;
    color: #ffffff;
    text-align: center;
}

nav{
    background-color: #e5e5e5;
    color: #ffffff;
}

ul{
    text-align: center;
}

li{
    display: inline;
    padding: 30px;
    
}

main{
    background-color: #808080;
    color: #ffffff;
}

p{
    padding: 30px;
}

footer{
    background-color: #3f3f3f;
    color: #ffffff;
}