body, html {
    background-image: url(../img/barra-lateral.png);
    background-repeat: repeat-y;
    background-size: 220px;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/bach-header-1.png);
    background-size: cover;
    color: white;
    margin: 0;
}

#logo,
h1 {
    padding: 10px;
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

#logo{
    width: 50px;
}

h1{
    font-family: "Charm", serif;
}

nav {
    width: 220px;
    position: sticky;
    top: 0; 
    flex: 0 0 auto;
}

img:hover{
    transform: scale(1.05);
}

.seta {
    width: 20px;
    padding: 5px;
    transform: translate(6px, 8px);
}

ul {
    padding: 0;
    margin: 0;
}

.li{
    width: 100%;
    padding-top: 0;
}

.li li {
    font-size: 17px;
    list-style-type: none;
    padding-right: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

nav ul li:hover, 
a:hover {
    background-color: #5681b3;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

li{
    font-family: Verdana, sans-serif;
}

.container {
    display: flex;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
}

main {
    flex: 1;
    padding-left: 50px;
}

h2 {
    font-family: Verdana, sans-serif;
    color: #1a62b1;
    margin-bottom: 5px;
    margin-top: 0;
}

hr {
    border: solid 1px #bed4e7;
}

main h2{
    margin-top: 20px;
}

main ul {
    color: #5681b3;
    padding-left: 30px;
}

main li {
    padding-top: 5px;
}

.overview {
    width: 500px;
    margin-left: 25%;
    margin-top: 30px;
    border: solid 1px black;
}

table, tr, td, th{
    color: #1a62b1;
    padding: 20px;
    margin: 20px;
    border: solid 2px #1a62b1;
    border-collapse: collapse;
    margin-top: 30px;
}

th{
    background-color: #7ca7d8;
}

td{
    padding-right: 200px;
}

